.vs/
bin/
obj/
*.user
*.suo
*.cache
*.pkl
*.log
*.tmp
__pycache__/
*.pyc
/garbage
/images
/output
FeatureMatchingExtraction/__pycache__/
/test_output_v3
/run_feature_pipeline.py
/test_folder_benchmark.py
/test_output
/results
*.md
weights/
FeatureMatchingExtraction/matchers/__pycache__/
FeatureMatchingExtraction/matchers/weights/